.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    background-color: aqua;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    transition: background-color 0.3s ease;
}

button {
   width: 50px;
   background-color: black;
   color: white;
   text-decoration: solid;
   font-size: 15px;
}

#count {
    background-color:white;
    color: black;
    width: 50px;
    text-align: center;
    font-size: 20px;
}
